<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加学生信息</title>
	</head>
	<body align="center">
		<h3><font color="#0062CC">添加学生信息</font></h3>
		<table align="center">
			<tr>
				<td>学号：</td>
				<td><input type="text" value="" name="id"></td>
			</tr>
			<tr>
				<td>姓名：</td>
				<td><input type="text" value="" name="name"></td>
			</tr>
			<tr>
				<td>学院：</td>
				<td><input type="text" value="" name="school"></td>
			</tr>
			<tr>
				<td>专业：</td>
				<td><input type="text" value="" name="major"></td>
			</tr>
			<tr>
				<td>班级：</td>
				<td><input type="text" value="" name="class"></td>
			</tr>
			<tr>
				<td><input type="submit" value="保存" name="保存" size="4"></td>
				<td><input type="reset" value="取消" name="取消"size="4"></td>
			</tr>
		</table>
	</body>
</html>
