<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/mui.min.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.title{
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 id="title" class="mui-title">教师系统</h1>
		</header>
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item mui-active" href="teachermain.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="tab-webview-subpage-chat.html">
				<span class="mui-icon mui-icon-checkbox"></span>
				<span class="mui-tab-label">题库管理</span>
			</a>
			<a class="mui-tab-item" href="tab-webview-subpage-contact.html">
				<span class="mui-icon mui-icon-circle"></span>
				<span class="mui-tab-label">组织试卷</span>
			</a>
			<a class="mui-tab-item" href="tab-webview-subpage-setting.html">
				<span class="mui-icon mui-icon-circle"></span>
				<span class="mui-tab-label">组织考试</span>
			</a>
		</nav>
		<center align="left">
			<div class="mui-content">
			<div class="title">
				<p></p>
				<p>数据库系统概论试题及答案1</p>
				<p>2013年 6月大学英语四级考试真题卷12</p>
				<p>数据库系统概论试题及答案1</p>
			</div>
		</div>
		<link rel="stylesheet" href="css/feedback-page.css" />
		</center>
	</body>
</html>
